<h1>NeoVZ Login</h1>

<form method="post" action="/login">
    <label>Vorname</label>
    <br>
    <input type="text" name="forename">
    <br>
    <br>
    <label>Nachname</label>
    <br>
    <input type="text" name="surname">
    <br>
    <br>
    <button type="submit">Login</button>
</form>