<div class="grid-container">
    <div class="login">
        <h1>NeoVZ</h1>
        <form method="post" action="/login">
            <label>
                Vorname
                <br>
                <input type="text" name="forename">
            </label>
            <br>
            <br>
            <label>
                Nachname
                <br>
                <input type="text" name="surname">
            </label>
            <br>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</div>