<div class="grid-container login-background">
    <div class="login">
        <h1>neoVZ</h1>
        <form method="post" action="/login">
            <label>
                <b>Vorname</b>
                <br>
                <input type="text" name="forename">
            </label>
            <br>
            <br>
            <label>
                <b>Nachname</b>
                <br>
                <input type="text" name="surname">
            </label>
            <br>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</div>